@import url("https://fonts.googleapis.com/css?family=Inter:700|Inter:400");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: #0f110d;
}
* :focus {
  outline: none;
  box-shadow: 0 0 0 0.2rem rgba(141, 190, 86, 0.5);
}
* :focus-visible {
  outline: none;
}

.header {
  position: fixed;
  height: 40px;
  width: 100%;
  display: flex;
  justify-content: center;
  border-bottom: 1px solid #ced0d4;
  background: #fafbf8;
}
.header__container {
  display: flex;
  width: 80%;
  justify-content: space-between;
}
.header__container__left-group {
  display: flex;
  height: 100%;
}
.header__container__left-group__dropdown-group__button {
  height: 100%;
  display: flex;
  align-items: center;
  padding: 0.5rem;
  border-bottom: 3px solid transparent;
}
.header__container__left-group__dropdown-group__button:hover {
  cursor: pointer;
  background: #f2f2f2;
}
.header__container__left-group__dropdown-group__button--active {
  height: 100%;
  display: flex;
  align-items: center;
  padding: 0.5rem;
  border-bottom: 3px solid #8dbe56;
  font-weight: 500;
}
.header__container__left-group__dropdown-group__button--active:hover {
  cursor: pointer;
  background: #f2f2f2;
}
.header__container__left-group__dropdown-group__list {
  display: none;
}
.header__container__left-group__dropdown-group__list--active {
  display: block;
  position: absolute;
  box-shadow: 0 0.125rem 0.5rem rgba(0, 0, 0, 0.175);
  background: #fafbf8;
}
.header__container__left-group__dropdown-group__list__item {
  padding: 0.5rem;
}
.header__container__left-group__dropdown-group__list__item:hover {
  cursor: pointer;
  background: #f2f2f2;
}
.header__container__right-group {
  display: flex;
  align-items: center;
}
.header__container__right-group__login-button {
  display: flex;
  align-items: center;
  padding: 0.5rem;
  background: #8dbe56;
  border-radius: 6px;
  margin-right: 0.5rem;
}
.header__container__right-group__login-button:hover {
  cursor: pointer;
  background: #97c860;
}
.header__container__right-group__register-button {
  display: flex;
  align-items: center;
  padding: 0.5rem;
  background: #bbe38f;
  border-radius: 6px;
}
.header__container__right-group__register-button:hover {
  cursor: pointer;
  background: #c5ed99;
}
.header__container__right-group__user-button {
  display: flex;
  align-items: center;
  padding: 0.5rem;
  margin-right: 0.5rem;
  background: #e6e6e6;
  border-radius: 6px;
}
.header__container__right-group__user-button:hover {
  cursor: pointer;
  background: gainsboro;
}
.header__container__right-group__logout-button {
  display: flex;
  align-items: center;
  padding: 0.5rem;
  background: #e6e6e6;
  border-radius: 6px;
}
.header__container__right-group__logout-button:hover {
  cursor: pointer;
  background: gainsboro;
}

body {
  font-family: "Inter";
  font-weight: 400;
}

h1, h2, h3, h4, h5 {
  font-family: "Inter";
  font-weight: 700;
}

html {
  font-size: 100%;
} /* 16px */
h1 {
  font-size: 4.21rem; /* 67.36px */
}

h2 {
  font-size: 3.158rem; /* 50.56px */
}

h3 {
  font-size: 2.369rem; /* 37.92px */
}

h4 {
  font-size: 1.777rem; /* 28.48px */
}

h5 {
  font-size: 1.333rem; /* 21.28px */
}

small {
  font-size: 0.75rem; /* 12px */
}

.input-error {
  color: #dc3545;
  box-shadow: 0 0 0 0.2rem rgba(220, 53, 69, 0.5);
}

.input-error-message {
  margin-top: 0.5rem;
  color: #dc3545;
}

.required {
  color: #dc3545;
}

.register-page {
  padding-top: 40px;
  height: 100vh;
  display: flex;
  align-items: center;
}
.register-page__form-container {
  height: 80%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.register-page__form-container__form {
  width: 30%;
  border: 1px solid #ced0d4;
  border-radius: 6px;
}
.register-page__form-container__form input, .register-page__form-container__form select {
  width: 100%;
  line-height: 1.5;
  border-radius: 4px;
  border: 1px solid #ced0d4;
  padding: 0.5rem;
  font-size: 1rem;
  font-family: "Inter";
  font-weight: 400;
}
.register-page__form-container__form__title {
  display: flex;
  justify-content: center;
  padding: 0.5rem;
  border-radius: 6px;
  margin-bottom: 1rem;
}
.register-page__form-container__form__name {
  padding: 0.5rem;
  display: flex;
  justify-content: space-between;
}
.register-page__form-container__form__name__first {
  margin-right: 0.5rem;
  width: 100%;
}
.register-page__form-container__form__name__first__label {
  margin-bottom: 0.25rem;
}
.register-page__form-container__form__name__last {
  width: 100%;
}
.register-page__form-container__form__name__last__label {
  margin-bottom: 0.25rem;
}
.register-page__form-container__form__role {
  padding: 0.5rem;
}
.register-page__form-container__form__role__label {
  margin-bottom: 0.25rem;
}
.register-page__form-container__form__username {
  padding: 0.5rem;
}
.register-page__form-container__form__username__label {
  margin-bottom: 0.25rem;
}
.register-page__form-container__form__email {
  padding: 0.5rem;
}
.register-page__form-container__form__email__label {
  margin-bottom: 0.25rem;
}
.register-page__form-container__form__phone {
  padding: 0.5rem;
}
.register-page__form-container__form__phone__label {
  margin-bottom: 0.25rem;
}
.register-page__form-container__form__password {
  padding: 0.5rem;
}
.register-page__form-container__form__password__label {
  margin-bottom: 0.25rem;
}
.register-page__form-container__form__register-button {
  display: flex;
  justify-content: center;
  padding: 0.5rem;
  margin: 0.5rem;
  margin-top: 1rem;
  background: #8dbe56;
}
.register-page__form-container__form__register-button:hover {
  cursor: pointer;
  background: #97c860;
}
.register-page__form-container__form__login-alt {
  padding: 0.5rem;
  border-radius: 6px;
}

.login-page {
  padding-top: 40px;
  height: 100vh;
  display: flex;
  align-items: center;
}
.login-page__form-container {
  height: 80%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.login-page__form-container__form {
  width: 30%;
  border: 1px solid #ced0d4;
  border-radius: 6px;
}
.login-page__form-container__form input {
  width: 100%;
  line-height: 1.5;
  border-radius: 4px;
  border: 1px solid #ced0d4;
  padding: 0.5rem;
  font-size: 1rem;
  font-family: "Inter";
  font-weight: 400;
}
.login-page__form-container__form__title {
  display: flex;
  justify-content: center;
  padding: 0.5rem;
  border-radius: 6px;
  margin-bottom: 1rem;
}
.login-page__form-container__form__title__label {
  margin-bottom: 0.25rem;
}
.login-page__form-container__form__username {
  padding: 0.5rem;
}
.login-page__form-container__form__username__label {
  margin-bottom: 0.25rem;
}
.login-page__form-container__form__password {
  padding: 0.5rem;
}
.login-page__form-container__form__password__label {
  margin-bottom: 0.25rem;
}
.login-page__form-container__form__text-group {
  padding: 0.5rem;
  display: flex;
  justify-content: space-between;
}
.login-page__form-container__form__text-group__label {
  margin-bottom: 0.25rem;
}
.login-page__form-container__form__login-button {
  display: flex;
  justify-content: center;
  padding: 0.5rem;
  margin: 0.5rem;
  margin-top: 1rem;
  background: #8dbe56;
}
.login-page__form-container__form__login-button:hover {
  cursor: pointer;
  background: #97c860;
}

.error-page {
  height: 100vh;
  display: flex;
  justify-content: center;
}
.error-page__container {
  width: 80%;
}
.error-page__container__title {
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.error-page__container__content {
  border-radius: 6px;
  border: 1px solid #ced0d4;
  padding: 0.5rem;
}
.error-page__container__content p {
  margin-bottom: 0.5rem;
}
.error-page__container__content__home-button {
  display: flex;
  background: #8dbe56;
  width: fit-content;
  padding: 0.5rem;
  border-radius: 6px;
}
.error-page__container__content__home-button:hover {
  cursor: pointer;
  background: #97c860;
}

.center-detail-page {
  padding-top: 40px;
  min-height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.center-detail-page__container {
  width: 80%;
  display: flex;
  flex-direction: column;
}
.center-detail-page__container__header {
  display: flex;
  justify-content: space-between;
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.center-detail-page__container__header__button-group {
  display: flex;
}
.center-detail-page__container__header__button-group__refresh-button {
  height: fit-content;
  margin-right: 0.5rem;
  background: #e6e6e6;
  padding: 0.5rem;
  border-radius: 6px;
}
.center-detail-page__container__header__button-group__refresh-button:hover {
  cursor: pointer;
  background: gainsboro;
}
.center-detail-page__container__header__button-group__add-new-button {
  height: fit-content;
  background: #e6e6e6;
  padding: 0.5rem;
  border-radius: 6px;
}
.center-detail-page__container__header__button-group__add-new-button:hover {
  cursor: pointer;
  background: gainsboro;
}
.center-detail-page__container__court-list__title {
  margin-bottom: 0.25rem;
}
.center-detail-page__container__court-list__list__item {
  border: 1px solid #ced0d4;
  border-radius: 6px;
}
.center-detail-page__container__court-list__list__item:not(:first-child) {
  margin-top: 0.5rem;
}
.center-detail-page__container__court-list__list__item__header {
  display: flex;
  justify-content: space-between;
  padding-top: 0.5rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}
.center-detail-page__container__court-list__list__item__header__button-group__edit-button {
  background: #e6e6e6;
  border-radius: 6px;
  height: fit-content;
  padding: 0.5rem;
}
.center-detail-page__container__court-list__list__item__header__button-group__edit-button:hover {
  cursor: pointer;
  background: gainsboro;
}
.center-detail-page__container__court-list__list__item__booking-list {
  padding: 0.5rem;
}
.center-detail-page__container__court-list__list__item__booking-list__item {
  width: fit-content;
  background: #e6e6e6;
  padding: 0.5rem;
  border-radius: 4px;
}
.center-detail-page__add-new-modal {
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  overflow: auto;
  background: rgba(0, 0, 0, 0.5);
}
.center-detail-page__add-new-modal__form {
  top: 50%;
  left: 50%;
  position: fixed;
  transform: translate(-50%, -50%);
  width: 70%;
  height: 80%;
  background: #fafbf8;
  border-radius: 6px;
}
.center-detail-page__add-new-modal__form__header {
  display: flex;
  justify-content: space-between;
  padding: 0.5rem;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
}
.center-detail-page__add-new-modal__form__header__close-button {
  background: #e6e6e6;
  border-radius: 6px;
  height: fit-content;
  padding: 0.5rem;
}
.center-detail-page__add-new-modal__form__header__close-button:hover {
  cursor: pointer;
  background: gainsboro;
}
.center-detail-page__add-new-modal__form__content {
  padding: 0.5rem;
}
.center-detail-page__add-new-modal__form__content input {
  width: 100%;
  line-height: 1.5;
  border-radius: 4px;
  border: 1px solid #ced0d4;
  padding: 0.5rem;
  font-size: 1rem;
  font-family: "Inter";
  font-weight: 400;
}
.center-detail-page__add-new-modal__form__content__name__label {
  margin-bottom: 0.25rem;
}
.center-detail-page__add-new-modal__form__footer {
  padding: 0.5rem;
  display: flex;
  justify-content: end;
}
.center-detail-page__add-new-modal__form__footer__add-button {
  background: #8dbe56;
  border-radius: 6px;
  padding: 0.5rem;
}
.center-detail-page__add-new-modal__form__footer__add-button:hover {
  cursor: pointer;
  background: #97c860;
}
.center-detail-page__edit-modal {
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  overflow: auto;
  background: rgba(0, 0, 0, 0.5);
}
.center-detail-page__edit-modal__form {
  top: 50%;
  left: 50%;
  position: fixed;
  transform: translate(-50%, -50%);
  width: 70%;
  height: 80%;
  background: #fafbf8;
  border-radius: 6px;
}
.center-detail-page__edit-modal__form__header {
  display: flex;
  justify-content: space-between;
  padding: 0.5rem;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
}
.center-detail-page__edit-modal__form__header__close-button {
  background: #e6e6e6;
  border-radius: 6px;
  height: fit-content;
  padding: 0.5rem;
}
.center-detail-page__edit-modal__form__header__close-button:hover {
  cursor: pointer;
  background: gainsboro;
}
.center-detail-page__edit-modal__form__content {
  padding: 0.5rem;
}
.center-detail-page__edit-modal__form__content input {
  width: 100%;
  line-height: 1.5;
  border-radius: 4px;
  border: 1px solid #ced0d4;
  padding: 0.5rem;
  font-size: 1rem;
  font-family: "Inter";
  font-weight: 400;
}
.center-detail-page__edit-modal__form__content__name__label {
  margin-bottom: 0.25rem;
}
.center-detail-page__edit-modal__form__footer {
  padding: 0.5rem;
  display: flex;
  justify-content: end;
}
.center-detail-page__edit-modal__form__footer__save-button {
  background: #8dbe56;
  border-radius: 6px;
  padding: 0.5rem;
}
.center-detail-page__edit-modal__form__footer__save-button:hover {
  cursor: pointer;
  background: #97c860;
}

.center-management-page {
  padding-top: 40px;
  min-height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.center-management-page__container {
  width: 80%;
  display: flex;
  flex-direction: column;
}
.center-management-page__container__header {
  display: flex;
  justify-content: space-between;
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.center-management-page__container__header__button-group {
  display: flex;
}
.center-management-page__container__header__button-group__refresh-button {
  height: fit-content;
  margin-right: 0.5rem;
  background: #e6e6e6;
  padding: 0.5rem;
  border-radius: 6px;
}
.center-management-page__container__header__button-group__refresh-button:hover {
  cursor: pointer;
  background: gainsboro;
}
.center-management-page__container__header__button-group__add-new-button {
  height: fit-content;
  background: #e6e6e6;
  padding: 0.5rem;
  border-radius: 6px;
}
.center-management-page__container__header__button-group__add-new-button:hover {
  cursor: pointer;
  background: gainsboro;
}
.center-management-page__container__center-list__title {
  margin-bottom: 0.25rem;
}
.center-management-page__container__center-list__list__item {
  border: 1px solid #ced0d4;
  border-radius: 6px;
  display: flex;
  justify-content: space-between;
}
.center-management-page__container__center-list__list__item:not(:first-child) {
  margin-top: 0.5rem;
}
.center-management-page__container__center-list__list__item__info {
  display: flex;
}
.center-management-page__container__center-list__list__item__info__img {
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
}
.center-management-page__container__center-list__list__item__info__img img {
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
  height: 150px;
  width: 150px;
  object-fit: cover;
}
.center-management-page__container__center-list__list__item__info__detail {
  margin-left: 0.5rem;
}
.center-management-page__container__center-list__list__item__info__detail__name {
  margin-top: 0.25rem;
  margin-bottom: 0.25rem;
}
.center-management-page__container__center-list__list__item__info__detail__address {
  margin-bottom: 0.25rem;
}
.center-management-page__container__center-list__list__item__button-group {
  padding: 0.5rem;
  display: flex;
}
.center-management-page__container__center-list__list__item__button-group__edit-button {
  height: fit-content;
  background: #e6e6e6;
  padding: 0.5rem;
  border-radius: 6px;
  margin-right: 0.5rem;
}
.center-management-page__container__center-list__list__item__button-group__edit-button:hover {
  cursor: pointer;
  background: gainsboro;
}
.center-management-page__container__center-list__list__item__button-group__detail-button {
  height: fit-content;
  background: #e6e6e6;
  padding: 0.5rem;
  border-radius: 6px;
}
.center-management-page__container__center-list__list__item__button-group__detail-button:hover {
  cursor: pointer;
  background: gainsboro;
}
.center-management-page__container__center-list__pagination {
  display: flex;
  margin-top: 0.5rem;
}
.center-management-page__container__center-list__pagination__previous {
  background: #e6e6e6;
  padding: 0.5rem;
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
}
.center-management-page__container__center-list__pagination__previous:hover {
  cursor: pointer;
  background: gainsboro;
}
.center-management-page__container__center-list__pagination__numeric-indicator {
  display: flex;
}
.center-management-page__container__center-list__pagination__numeric-indicator__item {
  background: #e6e6e6;
  padding: 0.5rem;
}
.center-management-page__container__center-list__pagination__numeric-indicator__item:hover {
  cursor: pointer;
  background: gainsboro;
}
.center-management-page__container__center-list__pagination__numeric-indicator__item--active {
  background: #8dbe56;
  padding: 0.5rem;
}
.center-management-page__container__center-list__pagination__numeric-indicator__item--active:hover {
  cursor: pointer;
  background: #97c860;
}
.center-management-page__container__center-list__pagination__next {
  background: #e6e6e6;
  padding: 0.5rem;
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
}
.center-management-page__container__center-list__pagination__next:hover {
  cursor: pointer;
  background: gainsboro;
}
.center-management-page__add-new-modal {
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  overflow: auto;
  background: rgba(0, 0, 0, 0.5);
}
.center-management-page__add-new-modal__form {
  top: 50%;
  left: 50%;
  position: fixed;
  transform: translate(-50%, -50%);
  width: 70%;
  height: 80%;
  background: #fafbf8;
  border-radius: 6px;
}
.center-management-page__add-new-modal__form__header {
  display: flex;
  justify-content: space-between;
  padding: 0.5rem;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
}
.center-management-page__add-new-modal__form__header__close-button {
  background: #e6e6e6;
  border-radius: 6px;
  height: fit-content;
  padding: 0.5rem;
}
.center-management-page__add-new-modal__form__header__close-button:hover {
  cursor: pointer;
  background: gainsboro;
}
.center-management-page__add-new-modal__form__content {
  padding: 0.5rem;
}
.center-management-page__add-new-modal__form__content input {
  width: 100%;
  line-height: 1.5;
  border-radius: 4px;
  border: 1px solid #ced0d4;
  padding: 0.5rem;
  font-size: 1rem;
  font-family: "Inter";
  font-weight: 400;
}
.center-management-page__add-new-modal__form__content__name__label {
  margin-bottom: 0.25rem;
}
.center-management-page__add-new-modal__form__content__address__label {
  margin-bottom: 0.25rem;
}
.center-management-page__add-new-modal__form__footer {
  padding: 0.5rem;
  display: flex;
  justify-content: end;
}
.center-management-page__add-new-modal__form__footer__create-button {
  background: #8dbe56;
  border-radius: 6px;
  height: fit-content;
  padding: 0.5rem;
}
.center-management-page__add-new-modal__form__footer__create-button:hover {
  cursor: pointer;
  background: #97c860;
}
.center-management-page__edit-modal {
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  overflow: auto;
  background: rgba(0, 0, 0, 0.5);
}
.center-management-page__edit-modal__form {
  top: 50%;
  left: 50%;
  position: fixed;
  transform: translate(-50%, -50%);
  width: 70%;
  height: 80%;
  background: #fafbf8;
  border-radius: 6px;
}
.center-management-page__edit-modal__form__header {
  display: flex;
  justify-content: space-between;
  padding: 0.5rem;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
}
.center-management-page__edit-modal__form__header__close-button {
  background: #e6e6e6;
  border-radius: 6px;
  height: fit-content;
  padding: 0.5rem;
}
.center-management-page__edit-modal__form__header__close-button:hover {
  cursor: pointer;
  background: gainsboro;
}
.center-management-page__edit-modal__form__content {
  padding: 0.5rem;
}
.center-management-page__edit-modal__form__content input {
  width: 100%;
  line-height: 1.5;
  border-radius: 4px;
  border: 1px solid #ced0d4;
  padding: 0.5rem;
  font-size: 1rem;
  font-family: "Inter";
  font-weight: 400;
}
.center-management-page__edit-modal__form__content__name__label {
  margin-bottom: 0.25rem;
}
.center-management-page__edit-modal__form__content__address__label {
  margin-bottom: 0.25rem;
}
.center-management-page__edit-modal__form__footer {
  padding: 0.5rem;
  display: flex;
  justify-content: end;
}
.center-management-page__edit-modal__form__footer__save-button {
  background: #8dbe56;
  border-radius: 6px;
  height: fit-content;
  padding: 0.5rem;
}
.center-management-page__edit-modal__form__footer__save-button:hover {
  cursor: pointer;
  background: #97c860;
}

.product-page {
  padding-top: 40px;
  min-height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.product-page__container {
  width: 80%;
  display: flex;
  flex-direction: column;
}
.product-page__container__header {
  display: flex;
  justify-content: space-between;
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.product-page__container__header__button-group {
  display: flex;
}
.product-page__container__header__button-group__refresh-button {
  height: fit-content;
  margin-right: 0.5rem;
  background: #e6e6e6;
  padding: 0.5rem;
  border-radius: 6px;
}
.product-page__container__header__button-group__refresh-button:hover {
  cursor: pointer;
  background: gainsboro;
}
.product-page__container__header__button-group__add-new-button {
  height: fit-content;
  background: #e6e6e6;
  padding: 0.5rem;
  border-radius: 6px;
}
.product-page__container__header__button-group__add-new-button:hover {
  cursor: pointer;
  background: gainsboro;
}
.product-page__container__product-list__title {
  margin-bottom: 0.25rem;
}
.product-page__container__product-list__list {
  display: flex;
  flex-flow: wrap;
}
.product-page__container__product-list__list__item {
  width: 250px;
  border: 1px solid #ced0d4;
  border-radius: 6px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 0.5rem;
  margin-bottom: 0.5rem;
}
.product-page__container__product-list__list__item__info__img img {
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  height: 200px;
  width: 200px;
  object-fit: cover;
}
.product-page__container__product-list__list__item__detail {
  text-align: center;
  padding: 0.5rem;
}
.product-page__container__product-list__list__item__button-group {
  width: 100%;
  display: flex;
  justify-content: end;
  padding: 0.5rem;
}
.product-page__container__product-list__list__item__button-group__edit-button {
  background: #e6e6e6;
  border-radius: 6px;
  height: fit-content;
  padding: 0.5rem;
}
.product-page__container__product-list__list__item__button-group__edit-button:hover {
  cursor: pointer;
  background: gainsboro;
}
.product-page__add-new-modal {
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  overflow: auto;
  background: rgba(0, 0, 0, 0.5);
}
.product-page__add-new-modal__form {
  top: 50%;
  left: 50%;
  position: fixed;
  transform: translate(-50%, -50%);
  width: 70%;
  height: 80%;
  background: #fafbf8;
  border-radius: 6px;
}
.product-page__add-new-modal__form__header {
  display: flex;
  justify-content: space-between;
  padding: 0.5rem;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
}
.product-page__add-new-modal__form__header__close-button {
  background: #e6e6e6;
  border-radius: 6px;
  height: fit-content;
  padding: 0.5rem;
}
.product-page__add-new-modal__form__header__close-button:hover {
  cursor: pointer;
  background: gainsboro;
}
.product-page__add-new-modal__form__content {
  padding: 0.5rem;
}
.product-page__add-new-modal__form__content input {
  width: 100%;
  line-height: 1.5;
  border-radius: 4px;
  border: 1px solid #ced0d4;
  padding: 0.5rem;
  font-size: 1rem;
  font-family: "Inter";
  font-weight: 400;
}
.product-page__add-new-modal__form__content__photo__label {
  margin-bottom: 0.25rem;
}
.product-page__add-new-modal__form__content__photo__preview img {
  width: 100%;
  height: 100px;
  object-fit: contain;
}
.product-page__add-new-modal__form__content__name__label {
  margin-bottom: 0.25rem;
}
.product-page__add-new-modal__form__content__price__label {
  margin-bottom: 0.25rem;
}
.product-page__add-new-modal__form__footer {
  padding: 0.5rem;
  display: flex;
  justify-content: end;
}
.product-page__add-new-modal__form__footer__add-button {
  background: #8dbe56;
  border-radius: 6px;
  height: fit-content;
  padding: 0.5rem;
}
.product-page__add-new-modal__form__footer__add-button:hover {
  cursor: pointer;
  background: #97c860;
}
.product-page__edit-modal {
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  overflow: auto;
  background: rgba(0, 0, 0, 0.5);
}
.product-page__edit-modal__form {
  top: 50%;
  left: 50%;
  position: fixed;
  transform: translate(-50%, -50%);
  width: 70%;
  height: 80%;
  background: #fafbf8;
  border-radius: 6px;
}
.product-page__edit-modal__form__header {
  display: flex;
  justify-content: space-between;
  padding: 0.5rem;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
}
.product-page__edit-modal__form__header__close-button {
  background: #e6e6e6;
  border-radius: 6px;
  height: fit-content;
  padding: 0.5rem;
}
.product-page__edit-modal__form__header__close-button:hover {
  cursor: pointer;
  background: gainsboro;
}
.product-page__edit-modal__form__content {
  padding: 0.5rem;
}
.product-page__edit-modal__form__content input {
  width: 100%;
  line-height: 1.5;
  border-radius: 4px;
  border: 1px solid #ced0d4;
  padding: 0.5rem;
  font-size: 1rem;
  font-family: "Inter";
  font-weight: 400;
}
.product-page__edit-modal__form__content__photo__label {
  margin-bottom: 0.25rem;
}
.product-page__edit-modal__form__content__photo__preview img {
  width: 100%;
  height: 100px;
  object-fit: contain;
}
.product-page__edit-modal__form__content__name__label {
  margin-bottom: 0.25rem;
}
.product-page__edit-modal__form__content__price__label {
  margin-bottom: 0.25rem;
}
.product-page__edit-modal__form__footer {
  padding: 0.5rem;
  display: flex;
  justify-content: end;
}
.product-page__edit-modal__form__footer__save-button {
  background: #8dbe56;
  border-radius: 6px;
  height: fit-content;
  padding: 0.5rem;
}
.product-page__edit-modal__form__footer__save-button:hover {
  cursor: pointer;
  background: #97c860;
}

.product-inventory-page {
  padding-top: 40px;
  min-height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.product-inventory-page__container {
  width: 80%;
  display: flex;
  flex-direction: column;
}
.product-inventory-page__container__header {
  display: flex;
  justify-content: space-between;
  margin-top: 1rem;
}
.product-inventory-page__container__header__button-group {
  display: flex;
}
.product-inventory-page__container__header__button-group__refresh-button {
  background: #8dbe56;
  border-radius: 6px;
  height: fit-content;
  padding: 0.5rem;
  margin-right: 0.5rem;
}
.product-inventory-page__container__header__button-group__refresh-button:hover {
  cursor: pointer;
  background: #97c860;
}
.product-inventory-page__container__header__button-group__add-new-button {
  background: #8dbe56;
  border-radius: 6px;
  height: fit-content;
  padding: 0.5rem;
}
.product-inventory-page__container__header__button-group__add-new-button:hover {
  cursor: pointer;
  background: #97c860;
}
.product-inventory-page__container__list {
  margin-top: 1rem;
}
.product-inventory-page__container__list__header {
  display: flex;
  vertical-align: middle;
  border-bottom: 1px solid #ced0d4;
  border-top: 1px solid #ced0d4;
  font-weight: 700;
}
.product-inventory-page__container__list__header__product {
  width: 200px;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}
.product-inventory-page__container__list__header__center {
  width: 200px;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}
.product-inventory-page__container__list__header__quantity {
  width: 100px;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}
.product-inventory-page__container__list__content__item {
  display: flex;
  vertical-align: middle;
  border-bottom: 1px solid #ced0d4;
}
.product-inventory-page__container__list__content__item__product {
  width: 200px;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}
.product-inventory-page__container__list__content__item__center {
  width: 200px;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}
.product-inventory-page__container__list__content__item__quantity {
  width: 100px;
  text-align: end;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}
.product-inventory-page__add-new-modal {
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  overflow: auto;
  background: rgba(0, 0, 0, 0.5);
}
.product-inventory-page__add-new-modal__form {
  top: 50%;
  left: 50%;
  position: fixed;
  transform: translate(-50%, -50%);
  width: 70%;
  height: 80%;
  background: #fafbf8;
  border-radius: 6px;
}
.product-inventory-page__add-new-modal__form__header {
  display: flex;
  justify-content: space-between;
  padding: 0.5rem;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
}
.product-inventory-page__add-new-modal__form__header__close-button {
  background: #e6e6e6;
  border-radius: 6px;
  height: fit-content;
  padding: 0.5rem;
}
.product-inventory-page__add-new-modal__form__header__close-button:hover {
  cursor: pointer;
  background: gainsboro;
}
.product-inventory-page__add-new-modal__form__content {
  padding: 0.5rem;
}
.product-inventory-page__add-new-modal__form__content input {
  width: 100%;
  line-height: 1.5;
  border-radius: 4px;
  border: 1px solid #ced0d4;
  padding: 0.5rem;
  font-size: 1rem;
  font-family: "Inter";
  font-weight: 400;
}
.product-inventory-page__add-new-modal__form__content__product__label {
  margin-bottom: 0.25rem;
}
.product-inventory-page__add-new-modal__form__content__product__select__select-button {
  padding: 0.5rem;
  border: 1px solid #ced0d4;
  border-radius: 4px;
}
.product-inventory-page__add-new-modal__form__content__product__select__select-button:hover {
  cursor: pointer;
  background: #97c860;
}
.product-inventory-page__add-new-modal__form__content__product__select__select-option {
  position: fixed;
  padding: 0.5rem;
  background: #fafbf8;
  box-shadow: 0 0.125rem 0.5rem rgba(0, 0, 0, 0.175);
  overflow-y: auto;
  max-height: 300px;
}
.product-inventory-page__add-new-modal__form__content__product__select__select-option__item {
  padding: 0.5rem;
}
.product-inventory-page__add-new-modal__form__content__product__select__select-option__item:hover {
  cursor: pointer;
  background: #97c860;
}
.product-inventory-page__add-new-modal__form__content__center__label {
  margin-bottom: 0.25rem;
}
.product-inventory-page__add-new-modal__form__content__center__select__select-button {
  padding: 0.5rem;
  border: 1px solid #ced0d4;
  border-radius: 4px;
}
.product-inventory-page__add-new-modal__form__content__center__select__select-button:hover {
  cursor: pointer;
  background: #97c860;
}
.product-inventory-page__add-new-modal__form__content__center__select__select-option {
  position: fixed;
  padding: 0.5rem;
  background: #fafbf8;
  box-shadow: 0 0.125rem 0.5rem rgba(0, 0, 0, 0.175);
  overflow-y: auto;
  max-height: 300px;
}
.product-inventory-page__add-new-modal__form__content__center__select__select-option__item {
  padding: 0.5rem;
}
.product-inventory-page__add-new-modal__form__content__center__select__select-option__item:hover {
  cursor: pointer;
  background: #97c860;
}
.product-inventory-page__add-new-modal__form__content__quantity__label {
  margin-bottom: 0.25rem;
}
.product-inventory-page__add-new-modal__form__footer {
  padding: 0.5rem;
  display: flex;
  justify-content: end;
}
.product-inventory-page__add-new-modal__form__footer__add-button {
  background: #8dbe56;
  border-radius: 6px;
  padding: 0.5rem;
}
.product-inventory-page__add-new-modal__form__footer__add-button:hover {
  cursor: pointer;
  background: #97c860;
}

.employee-management-page {
  padding-top: 40px;
  min-height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.employee-management-page__container {
  width: 80%;
  display: flex;
  flex-direction: column;
}
.employee-management-page__container__header {
  display: flex;
  justify-content: space-between;
  margin-top: 1rem;
}
.employee-management-page__container__header__button-group {
  display: flex;
}
.employee-management-page__container__header__button-group__refresh-button {
  background: #8dbe56;
  border-radius: 6px;
  height: fit-content;
  padding: 0.5rem;
  margin-right: 0.5rem;
}
.employee-management-page__container__header__button-group__refresh-button:hover {
  cursor: pointer;
  background: #97c860;
}
.employee-management-page__container__header__button-group__add-new-button {
  background: #8dbe56;
  border-radius: 6px;
  height: fit-content;
  padding: 0.5rem;
}
.employee-management-page__container__header__button-group__add-new-button:hover {
  cursor: pointer;
  background: #97c860;
}
.employee-management-page__container__list__title {
  margin-bottom: 0.5rem;
}
.employee-management-page__container__list__view__header {
  display: flex;
  vertical-align: middle;
  border-bottom: 1px solid #ced0d4;
  border-top: 1px solid #ced0d4;
  font-weight: 700;
}
.employee-management-page__container__list__view__header__username {
  width: 200px;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}
.employee-management-page__container__list__view__header__first-name {
  width: 200px;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}
.employee-management-page__container__list__view__header__last-name {
  width: 200px;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}
.employee-management-page__container__list__view__header__center {
  width: 200px;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}
.employee-management-page__container__list__view__header__phone {
  width: 200px;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}
.employee-management-page__container__list__view__header__email {
  width: 200px;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}
.employee-management-page__container__list__view__content__item {
  display: flex;
  vertical-align: middle;
  border-bottom: 1px solid #ced0d4;
}
.employee-management-page__container__list__view__content__item__username {
  width: 200px;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}
.employee-management-page__container__list__view__content__item__first-name {
  width: 200px;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}
.employee-management-page__container__list__view__content__item__last-name {
  width: 200px;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}
.employee-management-page__container__list__view__content__item__center {
  width: 200px;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}
.employee-management-page__container__list__view__content__item__phone {
  width: 200px;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}
.employee-management-page__container__list__view__content__item__email {
  width: 200px;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}
.employee-management-page__add-new-modal {
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  overflow: auto;
  background: rgba(0, 0, 0, 0.5);
}
.employee-management-page__add-new-modal__form {
  top: 50%;
  left: 50%;
  position: fixed;
  transform: translate(-50%, -50%);
  width: 70%;
  height: 80%;
  background: #fafbf8;
  border-radius: 6px;
}
.employee-management-page__add-new-modal__form__header {
  display: flex;
  justify-content: space-between;
  padding: 0.5rem;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
}
.employee-management-page__add-new-modal__form__header__close-button {
  background: #e6e6e6;
  border-radius: 6px;
  height: fit-content;
  padding: 0.5rem;
}
.employee-management-page__add-new-modal__form__header__close-button:hover {
  cursor: pointer;
  background: gainsboro;
}
.employee-management-page__add-new-modal__form__content {
  padding: 0.5rem;
}
.employee-management-page__add-new-modal__form__content input {
  width: 100%;
  line-height: 1.5;
  border-radius: 4px;
  border: 1px solid #ced0d4;
  padding: 0.5rem;
  font-size: 1rem;
  font-family: "Inter";
  font-weight: 400;
}
.employee-management-page__add-new-modal__form__content__name {
  display: flex;
  justify-content: space-between;
}
.employee-management-page__add-new-modal__form__content__name__first-name {
  margin-right: 0.5rem;
  width: 100%;
}
.employee-management-page__add-new-modal__form__content__name__first-name__label {
  margin-bottom: 0.25rem;
}
.employee-management-page__add-new-modal__form__content__name__last-name {
  width: 100%;
}
.employee-management-page__add-new-modal__form__content__name__last-name__label {
  margin-bottom: 0.25rem;
}
.employee-management-page__add-new-modal__form__content__username__label {
  margin-bottom: 0.25rem;
}
.employee-management-page__add-new-modal__form__content__email__label {
  margin-bottom: 0.25rem;
}
.employee-management-page__add-new-modal__form__content__phone__label {
  margin-bottom: 0.25rem;
}
.employee-management-page__add-new-modal__form__content__password__label {
  margin-bottom: 0.25rem;
}
.employee-management-page__add-new-modal__form__footer {
  padding: 0.5rem;
  display: flex;
  justify-content: end;
}
.employee-management-page__add-new-modal__form__footer__add-button {
  background: #8dbe56;
  border-radius: 6px;
  padding: 0.5rem;
}
.employee-management-page__add-new-modal__form__footer__add-button:hover {
  cursor: pointer;
  background: #97c860;
}

.user-center-page {
  padding-top: 40px;
  min-height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.user-center-page__container {
  width: 80%;
  display: flex;
  flex-direction: column;
}
.user-center-page__container__header {
  display: flex;
  justify-content: space-between;
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.user-center-page__container__center-list__title {
  margin-bottom: 0.25rem;
}
.user-center-page__container__center-list__list__item {
  border: 1px solid #ced0d4;
  border-radius: 6px;
  display: flex;
  justify-content: space-between;
}
.user-center-page__container__center-list__list__item:not(:first-child) {
  margin-top: 0.5rem;
}
.user-center-page__container__center-list__list__item__info {
  display: flex;
}
.user-center-page__container__center-list__list__item__info__img {
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
}
.user-center-page__container__center-list__list__item__info__img img {
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
  height: 150px;
  width: 150px;
  object-fit: cover;
}
.user-center-page__container__center-list__list__item__info__detail {
  margin-left: 0.5rem;
}
.user-center-page__container__center-list__list__item__info__detail__name {
  margin-top: 0.25rem;
  margin-bottom: 0.25rem;
}
.user-center-page__container__center-list__list__item__info__detail__address {
  margin-bottom: 0.25rem;
}
.user-center-page__container__center-list__list__item__button-group {
  padding: 0.5rem;
  display: flex;
}
.user-center-page__container__center-list__list__item__button-group__detail-button {
  height: fit-content;
  background: #e6e6e6;
  padding: 0.5rem;
  border-radius: 6px;
}
.user-center-page__container__center-list__list__item__button-group__detail-button:hover {
  cursor: pointer;
  background: gainsboro;
}
.user-center-page__container__center-list__pagination {
  display: flex;
  margin-top: 0.5rem;
}
.user-center-page__container__center-list__pagination__previous {
  background: #e6e6e6;
  padding: 0.5rem;
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
}
.user-center-page__container__center-list__pagination__previous:hover {
  cursor: pointer;
  background: gainsboro;
}
.user-center-page__container__center-list__pagination__numeric-indicator {
  display: flex;
}
.user-center-page__container__center-list__pagination__numeric-indicator__item {
  background: #e6e6e6;
  padding: 0.5rem;
}
.user-center-page__container__center-list__pagination__numeric-indicator__item:hover {
  cursor: pointer;
  background: gainsboro;
}
.user-center-page__container__center-list__pagination__numeric-indicator__item--active {
  background: #8dbe56;
  padding: 0.5rem;
}
.user-center-page__container__center-list__pagination__numeric-indicator__item--active:hover {
  cursor: pointer;
  background: #97c860;
}
.user-center-page__container__center-list__pagination__next {
  background: #e6e6e6;
  padding: 0.5rem;
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
}
.user-center-page__container__center-list__pagination__next:hover {
  cursor: pointer;
  background: gainsboro;
}

.user-court-page {
  padding-top: 40px;
  min-height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.user-court-page__container {
  width: 80%;
  display: flex;
  flex-direction: column;
}
.user-court-page__container__header {
  display: flex;
  justify-content: space-between;
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.user-court-page__container__header__button-group__booking-button {
  background: #e6e6e6;
  border-radius: 6px;
  height: fit-content;
  padding: 0.5rem;
}
.user-court-page__container__header__button-group__booking-button:hover {
  cursor: pointer;
  background: gainsboro;
}
.user-court-page__container__court-list__list__item {
  border: 1px solid #ced0d4;
  border-radius: 6px;
}
.user-court-page__container__court-list__list__item:not(:first-child) {
  margin-top: 0.5rem;
}
.user-court-page__container__court-list__list__item__header {
  display: flex;
  justify-content: space-between;
  padding-top: 0.5rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}
.user-court-page__container__court-list__list__item__booking-list {
  padding: 0.5rem;
}
.user-court-page__container__court-list__list__item__booking-list__item {
  width: fit-content;
  background: #e6e6e6;
  padding: 0.5rem;
  border-radius: 4px;
}
.user-court-page__new-booking-modal {
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  overflow: auto;
  background: rgba(0, 0, 0, 0.5);
}
.user-court-page__new-booking-modal__form {
  top: 50%;
  left: 50%;
  position: fixed;
  transform: translate(-50%, -50%);
  width: 70%;
  height: 80%;
  background: #fafbf8;
  border-radius: 6px;
}
.user-court-page__new-booking-modal__form__header {
  display: flex;
  justify-content: space-between;
  padding: 0.5rem;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
}
.user-court-page__new-booking-modal__form__header__close-button {
  background: #e6e6e6;
  border-radius: 6px;
  height: fit-content;
  padding: 0.5rem;
}
.user-court-page__new-booking-modal__form__header__close-button:hover {
  cursor: pointer;
  background: gainsboro;
}
.user-court-page__new-booking-modal__form__content {
  padding: 0.5rem;
}
.user-court-page__new-booking-modal__form__content input {
  width: 100%;
  line-height: 1.5;
  border-radius: 4px;
  border: 1px solid #ced0d4;
  padding: 0.5rem;
  font-size: 1rem;
  font-family: "Inter";
  font-weight: 400;
}
.user-court-page__new-booking-modal__form__content__court__label {
  margin-bottom: 0.25rem;
}
.user-court-page__new-booking-modal__form__content__court__select__select-button {
  padding: 0.5rem;
  border: 1px solid #ced0d4;
  border-radius: 4px;
}
.user-court-page__new-booking-modal__form__content__court__select__select-button:hover {
  cursor: pointer;
  background: #97c860;
}
.user-court-page__new-booking-modal__form__content__court__select__select-option {
  position: fixed;
  padding: 0.5rem;
  background: #fafbf8;
  box-shadow: 0 0.125rem 0.5rem rgba(0, 0, 0, 0.175);
  overflow-y: auto;
  max-height: 300px;
}
.user-court-page__new-booking-modal__form__content__court__select__select-option__item {
  padding: 0.5rem;
}
.user-court-page__new-booking-modal__form__content__court__select__select-option__item:hover {
  cursor: pointer;
  background: #97c860;
}
.user-court-page__new-booking-modal__form__footer {
  padding: 0.5rem;
  display: flex;
  justify-content: end;
}
.user-court-page__new-booking-modal__form__footer__add-button {
  background: #8dbe56;
  border-radius: 6px;
  padding: 0.5rem;
}
.user-court-page__new-booking-modal__form__footer__add-button:hover {
  cursor: pointer;
  background: #97c860;
}

.user-booking-order-list {
  padding-top: 40px;
  min-height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.user-booking-order-list__container {
  width: 80%;
  display: flex;
  flex-direction: column;
}
.user-booking-order-list__container__header {
  display: flex;
  justify-content: space-between;
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.user-booking-order-list__container__booking-order-list__title {
  margin-bottom: 0.25rem;
}
.user-booking-order-list__container__booking-order-list__list {
  border: 1px solid #ced0d4;
  border-radius: 6px;
}
.user-booking-order-list__container__booking-order-list__list:not(:first-child) {
  margin-top: 0.5rem;
}

/*# sourceMappingURL=main.css.map */
