@use '../components/header';
@use '../components/border';
@use '../components/padding';
@use '../components/input';
@use '../components/color-theme';
@use '../components/margin';
@use '../components/button';

.register-page {
    padding-top: header.$header-height;
    height: 100vh;
    display: flex;
    align-items: center;
    background-image: url('/football-dribble.avif');

    &__form-container {
        height: 80%;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;

        &__form {
            width: 30%;
            border: border.$small-border-line;
            border-radius: border.$container-border-radius;
            background: color-theme.$light-theme-background-color;

            input, select {
                @include input.input-style;
            }

            &__title {
                display: flex;
                justify-content: center;
                padding: padding.$small-padding;
                border-radius: border.$container-border-radius;
                margin-bottom: margin.$title-margin;
            }

            &__name {
                padding: padding.$small-padding;
                display: flex;
                justify-content: space-between;

                &__first {
                    margin-right: margin.$input-item-margin;
                    width: 100%;

                    &__label {
                        margin-bottom: margin.$label-input-margin;
                    }
                }

                &__last {
                    width: 100%;

                    &__label {
                        margin-bottom: margin.$label-input-margin;
                    }
                }
            }

            &__role {
                padding: padding.$small-padding;

                &__label {
                    margin-bottom: margin.$label-input-margin;
                }
            }

            &__username {
                padding: padding.$small-padding;

                &__label {
                    margin-bottom: margin.$label-input-margin;
                }
            }

            &__email {
                padding: padding.$small-padding;

                &__label {
                    margin-bottom: margin.$label-input-margin;
                }
            }

            &__phone {
                padding: padding.$small-padding;

                &__label {
                    margin-bottom: margin.$label-input-margin;
                }
            }

            &__password {
                padding: padding.$small-padding;

                &__label {
                    margin-bottom: margin.$label-input-margin;
                }
            }

            &__register-button {
                display: flex;
                justify-content: center;
                padding: padding.$button-padding;
                margin: padding.$small-padding;
                margin-top: margin.$title-margin;
                background: color-theme.$light-theme-primary-color;
                color: white;

                &:hover {
                    cursor: pointer;
                    background: button.$primary-background-hover-color;
                }
            }

            &__login-alt {
                padding: padding.$small-padding;
                border-radius: border.$container-border-radius;
                color: color-theme.$light-theme-primary-color;

                &:hover {
                    cursor: pointer;
                    text-decoration: underline;
                }
            }
        }
    }
}