@use '../../components/header';
@use '../../components/margin';
@use '../../components/border';
@use '../../components/color-theme';
@use '../../components/button';
@use '../../components/padding';
@use '../../components/input';
@use '../../components/modal';
@use '../../components/z-index';

.center-management-page {
    padding-top: header.$header-height;
    min-height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;

    &__container {
        width: 80%;
        display: flex;
        flex-direction: column;

        &__header {
            display: flex;
            justify-content: space-between;
            margin-top: margin.$title-margin;
            margin-bottom: margin.$title-margin;

            &__button-group {
                display: flex;

                &__refresh-button {
                    height: fit-content;
                    margin-right: margin.$button-margin;
                    background: button.$light-background-color;
                    padding: padding.$small-padding;
                    border-radius: button.$border-radius;

                    &:hover {
                        cursor: pointer;
                        background: button.$light-background-hover-color;
                    }
                }

                &__add-new-button {
                    height: fit-content;
                    background: button.$light-background-color;
                    padding: padding.$small-padding;
                    border-radius: button.$border-radius;

                    &:hover {
                        cursor: pointer;
                        background: button.$light-background-hover-color;
                    }
                }
            }
        }

        &__center-list {
            &__title {
                margin-bottom: margin.$label-input-margin;
            }

            &__list {
                &__item {
                    border: border.$small-border-line;
                    border-radius: border.$container-border-radius;
                    display: flex;
                    justify-content: space-between;

                    &:not(:first-child) {
                        margin-top: margin.$input-item-margin;
                    }

                    &__info {
                        display: flex;

                        &__img {
                            border-top-left-radius: border.$container-border-radius;
                            border-bottom-left-radius: border.$container-border-radius;
    
                            img {
                                border-top-left-radius: border.$container-border-radius;
                                border-bottom-left-radius: border.$container-border-radius;
                                height: 150px;
                                width: 150px;
                                object-fit: cover;
                            }
                        }
    
                        &__detail {
                            margin-left: margin.$input-item-margin;
    
                            &__name {
                                margin-top: margin.$label-input-margin;
                                margin-bottom: margin.$label-input-margin;
                            }
    
                            &__address {
                                margin-bottom: margin.$label-input-margin;
                            }
                        }
                    }

                    &__button-group {
                        padding: padding.$small-padding;
                        display: flex;

                        &__edit-button {
                            height: fit-content;
                            background: button.$light-background-color;
                            padding: padding.$small-padding;
                            border-radius: button.$border-radius;
                            margin-right: margin.$button-margin;

                            &:hover {
                                cursor: pointer;
                                background: button.$light-background-hover-color;
                            }
                        }

                        &__detail-button {
                            height: fit-content;
                            background: button.$light-background-color;
                            padding: padding.$small-padding;
                            border-radius: button.$border-radius;

                            &:hover {
                                cursor: pointer;
                                background: button.$light-background-hover-color;
                            }
                        }
                    }
                }
            }

            &__pagination {
                display: flex;
                margin-top: margin.$input-item-margin;

                &__previous {
                    background: button.$light-background-color;
                    padding: padding.$small-padding;
                    border-top-left-radius: button.$border-radius;
                    border-bottom-left-radius: button.$border-radius;

                    &:hover {
                        cursor: pointer;
                        background: button.$light-background-hover-color;
                    }
                }

                &__numeric-indicator {
                    display: flex;

                    &__item {
                        background: button.$light-background-color;
                        padding: padding.$small-padding;

                        &:hover {
                            cursor: pointer;
                            background: button.$light-background-hover-color;
                        }

                        &--active {
                            background: button.$primary-background-color;
                            padding: padding.$small-padding;

                            &:hover {
                                cursor: pointer;
                                background: button.$primary-background-hover-color;
                            }
                        }
                    }
                }

                &__next {
                    background: button.$light-background-color;
                    padding: padding.$small-padding;
                    border-top-right-radius: button.$border-radius;
                    border-bottom-right-radius: button.$border-radius;

                    &:hover {
                        cursor: pointer;
                        background: button.$light-background-hover-color;
                    }
                }
            }
        }
    }

    &__add-new-modal {
        position: fixed;
        z-index: z-index.$modal-index;
        left: 0;
        top: 0;
        width: 100%;
        height: 100vh;
        overflow: auto;
        background: modal.$background-color;

        &__form {
            top: 50%;
            left: 50%;
            position: fixed;
            transform: translate(-50%, -50%);
            width: 70%;
            height: 80%;
            background: color-theme.$light-theme-background-color;
            border-radius: border.$container-border-radius;
            overflow-x: auto;

            &__header {
                display: flex;
                justify-content: space-between;
                padding: padding.$small-padding;
                border-top-left-radius: border.$container-border-radius;
                border-top-right-radius: border.$container-border-radius;

                &__close-button {
                    background: button.$light-background-color;
                    border-radius: button.$border-radius;
                    height: fit-content;
                    padding: padding.$small-padding;

                    &:hover {
                        cursor: pointer;
                        background: button.$light-background-hover-color;
                    }
                }
            }

            &__content {
                padding: padding.$small-padding;

                input {
                    @include input.input-style;
                }

                &__name {
                    &__label {
                        margin-bottom: margin.$label-input-margin;
                    }
                }

                &__address {
                    &__label {
                        margin-bottom: margin.$label-input-margin;
                    }
                }

                &__thumbnail-photo {
                    &__label {
                        margin-bottom: margin.$label-input-margin;
                    }

                    &__preview {
                        &__item {
                            position: relative;
                            width: 100px;
                            height: 100px;

                            img {
                                width: 100px;
                                height: 100px;
                                object-fit: contain;
                            }
    
                            &__close {
                                position: absolute;
                                top: 0;
                                right: 0;

                                &:hover {
                                    cursor: pointer;
                                }
                            }
                        }
                    }
                }

                &__showcase-photo {
                    &__label {
                        margin-bottom: margin.$label-input-margin;
                    }

                    &__preview {
                        display: flex;

                        &__item {
                            position: relative;
                            width: 100px;
                            height: 100px;

                            img {
                                width: 100px;
                                height: 100px;
                                object-fit: contain;
                            }

                            &__close {
                                position: absolute;
                                top: 0;
                                right: 0;

                                &:hover {
                                    cursor: pointer;
                                }
                            }
                        }
                    }
                }
            }

            &__footer {
                padding: padding.$small-padding;
                display: flex;
                justify-content: end;

                &__create-button {
                    background: button.$primary-background-color;
                    border-radius: button.$border-radius;
                    height: fit-content;
                    padding: padding.$small-padding;

                    &:hover {
                        cursor: pointer;
                        background: button.$primary-background-hover-color;
                    }
                }
            }
        }
    }

    &__edit-modal {
        position: fixed;
        z-index: z-index.$modal-index;
        left: 0;
        top: 0;
        width: 100%;
        height: 100vh;
        overflow: auto;
        background: modal.$background-color;

        &__form {
            top: 50%;
            left: 50%;
            position: fixed;
            transform: translate(-50%, -50%);
            width: 70%;
            height: 80%;
            background: color-theme.$light-theme-background-color;
            border-radius: border.$container-border-radius;
            overflow-x: auto;

            &__header {
                display: flex;
                justify-content: space-between;
                padding: padding.$small-padding;
                border-top-left-radius: border.$container-border-radius;
                border-top-right-radius: border.$container-border-radius;

                &__close-button {
                    background: button.$light-background-color;
                    border-radius: button.$border-radius;
                    height: fit-content;
                    padding: padding.$small-padding;

                    &:hover {
                        cursor: pointer;
                        background: button.$light-background-hover-color;
                    }
                }
            }

            &__content {
                padding: padding.$small-padding;

                input {
                    @include input.input-style;
                }

                &__name {
                    &__label {
                        margin-bottom: margin.$label-input-margin;
                    }
                }

                &__address {
                    &__label {
                        margin-bottom: margin.$label-input-margin;
                    }
                }

                &__thumbnail-photo {
                    &__label {
                        margin-bottom: margin.$label-input-margin;
                    }

                    &__preview {
                        &__item {
                            position: relative;
                            width: 100px;
                            height: 100px;

                            img {
                                width: 100px;
                                height: 100px;
                                object-fit: contain;
                            }
    
                            &__close {
                                position: absolute;
                                top: 0;
                                right: 0;

                                &:hover {
                                    cursor: pointer;
                                }
                            }
                        }
                    }
                }

                &__showcase-photo {
                    &__label {
                        margin-bottom: margin.$label-input-margin;
                    }

                    &__preview {
                        display: flex;

                        &__item {
                            position: relative;
                            width: 100px;
                            height: 100px;

                            img {
                                width: 100px;
                                height: 100px;
                                object-fit: contain;
                            }

                            &__close {
                                position: absolute;
                                top: 0;
                                right: 0;

                                &:hover {
                                    cursor: pointer;
                                }
                            }
                        }
                    }
                }
            }

            &__footer {
                padding: padding.$small-padding;
                display: flex;
                justify-content: end;

                &__save-button {
                    background: button.$primary-background-color;
                    border-radius: button.$border-radius;
                    height: fit-content;
                    padding: padding.$small-padding;
                    margin-right: margin.$label-input-margin;

                    &:hover {
                        cursor: pointer;
                        background: button.$primary-background-hover-color;
                    }
                }

                &__delete-button {
                    background: button.$primary-background-color;
                    border-radius: button.$border-radius;
                    height: fit-content;
                    padding: padding.$small-padding;

                    &:hover {
                        cursor: pointer;
                        background: button.$primary-background-hover-color;
                    }
                }
            }
        }
    }
}