@use '../../components/header';
@use '../../components/margin';
@use '../../components/border';
@use '../../components/padding';
@use '../../components/button';
@use '../../components/color-theme';
@use '../../components/input';

.center-review {
    padding-top: header.$header-height;
    min-height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;

    &__container {
        width: 80%;
        display: flex;
        flex-direction: column;

        &__header {
            display: flex;
            justify-content: space-between;
            margin-top: margin.$title-margin;

            &__button-group {
                display: flex;

                &__refresh-button {
                    background: button.$primary-background-color;
                    border-radius: button.$border-radius;
                    height: fit-content;
                    padding: padding.$small-padding;
                    margin-right: margin.$input-item-margin;

                    &:hover {
                        cursor: pointer;
                        background: button.$primary-background-hover-color;
                    }
                }
            }
        }

        &__review-list {
            margin-top: margin.$title-margin;

            &__list {
                &__header {
                    display: flex;
                    vertical-align: middle;
                    border-bottom: border.$small-border-line;
                    border-top: border.$small-border-line;
                    font-weight: 700;

                    &__id {
                        width: 200px;
                        margin-top: margin.$input-item-margin;
                        margin-bottom: margin.$input-item-margin;
                    }

                    &__user {
                        width: 200px;
                        margin-top: margin.$input-item-margin;
                        margin-bottom: margin.$input-item-margin;
                    }

                    &__center {
                        width: 200px;
                        margin-top: margin.$input-item-margin;
                        margin-bottom: margin.$input-item-margin;
                    }

                    &__content {
                        width: 200px;
                        margin-top: margin.$input-item-margin;
                        margin-bottom: margin.$input-item-margin;
                    }
                }

                &__content {
                    &__item {
                        display: flex;
                        vertical-align: middle;
                        border-bottom: border.$small-border-line;

                        &__id {
                            width: 200px;
                            margin-top: margin.$input-item-margin;
                            margin-bottom: margin.$input-item-margin;
                        }
    
                        &__user {
                            width: 200px;
                            margin-top: margin.$input-item-margin;
                            margin-bottom: margin.$input-item-margin;
                        }
    
                        &__center {
                            width: 200px;
                            margin-top: margin.$input-item-margin;
                            margin-bottom: margin.$input-item-margin;
                        }
    
                        &__content {
                            width: 200px;
                            margin-top: margin.$input-item-margin;
                            margin-bottom: margin.$input-item-margin;
                        }
                    }
                }
            }
        }
    }
}