$primary: #0d6efd;
$primary-emphasis: #6ea8fe;
$secondary: #6c757d;
$secondary-emphasis: #a7acb1;
$success: #198754;
$success-emphasis: #75b798;
$danger: #dc3545;
$danger-emphasis: #ea868f;
$warning: #ffc107;
$warning-emphasis: #ffda6a;
$info: #0dcaf0;
$info-emphasis: #6edff6;
$white: #fff;
$black: #000;

$light-theme-text-color: #0f110d;
$light-theme-background-color: #fafbf8;
$light-theme-background-secondary-color: #e6e6e6;
// $light-theme-primary-color: #8dbe56;
// $light-theme-secondary-color: #bbe38f;
// $light-theme-accent-color: #a5e75d;
$light-theme-primary-color: #0077b6;
$light-theme-secondary-color: #00b4d8;
$light-theme-accent-color: #90e0ef;
$light-theme-border-line-color: #ced0d4;
$light-theme-nav-hover-color: #f2f2f2;

$dark-theme-text-color: #f0f2ee;
$dark-theme-background-color: #060604;
$dark-theme-primary-color: #79a942;
$dark-theme-secondary-color: #466e1c;
$dark-theme-accent-color: #5ea018;
