@use './border';
@use './color-theme';
@use './padding';
@use './button';
@use './shadow';
@use './margin';
@use './z-index';
@use './modal';
@use './input';

$header-height: 40px;

.header {
    position: fixed;
    height: $header-height;
    width: 100%;
    display: flex;
    justify-content: center;
    border-bottom: border.$small-border-line;
    background: color-theme.$light-theme-background-color;
    z-index: z-index.$header-index;

    &__container {
        display: flex;
        width: 80%;
        justify-content: space-between;

        &__left-group {
            display: flex;
            height: 100%;

            &__dropdown-group {
                &__button {
                    height: 100%;
                    display: flex;
                    align-items: center;
                    padding: padding.$small-padding;
                    border-bottom: 3px solid transparent;

                    &:hover {
                        cursor: pointer;
                        background: button.$nav-hover-color;
                    }

                    &--active {
                        height: 100%;
                        display: flex;
                        align-items: center;
                        padding: padding.$small-padding;
                        border-bottom: 3px solid button.$primary-background-color;
                        font-weight: 500;

                        &:hover {
                            cursor: pointer;
                            background: button.$nav-hover-color;
                        }
                    }
                }

                &__list {
                    display: none;

                    &--active {
                        display: block;
                        position: absolute;
                        box-shadow: shadow.$small-shadow;
                        background: color-theme.$light-theme-background-color;
                    }

                    &__item {
                        padding: padding.$small-padding;

                        &:hover {
                            cursor: pointer;
                            background: button.$nav-hover-color;
                        }
                    }
                }
            }
        }

        &__right-group {
            display: flex;
            align-items: center;

            &__login-button {
                display: flex;
                align-items: center;
                padding: button.$padding;
                background: button.$primary-background-color;
                border-radius: button.$border-radius;
                margin-right: margin.$button-margin;

                &:hover {
                    cursor: pointer;
                    background: button.$primary-background-hover-color;
                }
            }

            &__register-button {
                display: flex;
                align-items: center;
                padding: button.$padding;
                background: button.$secondary-background-color;
                border-radius: button.$border-radius;

                &:hover {
                    cursor: pointer;
                    background: button.$secondary-background-hover-color;
                }
            }

            &__user {
                &__button {
                    display: flex;
                    align-items: center;
                    padding: button.$padding;
                    margin-right: margin.$button-margin;
                    background: button.$light-background-color;
                    border-radius: button.$border-radius;
    
                    &:hover {
                        cursor: pointer;
                        background: button.$light-background-hover-color;
                    }
                }

                &__option {
                    position: fixed;
                    padding: padding.$small-padding;
                    background: color-theme.$light-theme-background-color;
                    box-shadow: shadow.$small-shadow;
                    overflow-y: auto;
                    max-height: 300px;

                    &__item {
                        padding: padding.$small-padding;

                        &:hover {
                            cursor: pointer;
                            background: button.$primary-background-hover-color;
                        }
                    }
                }
            }

            &__logout-button {
                display: flex;
                align-items: center;
                padding: button.$padding;
                background: button.$light-background-color;
                border-radius: button.$border-radius;

                &:hover {
                    cursor: pointer;
                    background: button.$light-background-hover-color;
                }
            }
        }
    }

    &__user-info-modal {
        position: fixed;
        z-index: z-index.$modal-index;
        left: 0;
        top: 0;
        width: 100%;
        height: 100vh;
        overflow: auto;
        background: modal.$background-color;

        &__form {
            top: 50%;
            left: 50%;
            position: fixed;
            transform: translate(-50%, -50%);
            width: 70%;
            height: 80%;
            background: color-theme.$light-theme-background-color;
            border-radius: border.$container-border-radius;

            &__header {
                display: flex;
                justify-content: space-between;
                padding: padding.$small-padding;
                border-top-left-radius: border.$container-border-radius;
                border-top-right-radius: border.$container-border-radius;

                &__close-button {
                    background: button.$light-background-color;
                    border-radius: button.$border-radius;
                    height: fit-content;
                    padding: padding.$small-padding;

                    &:hover {
                        cursor: pointer;
                        background: button.$light-background-hover-color;
                    }
                }
            }

            &__content {
                padding: padding.$small-padding;

                input {
                    @include input.input-style;
                }

                &__username {
                    display: flex;
                    margin-bottom: margin.$label-input-margin;
                }

                &__name {
                    margin-bottom: margin.$label-input-margin;

                    &__last-name {
                        display: flex;
                        margin-bottom: margin.$label-input-margin;
                    }

                    &__first-name {
                        display: flex;
                        margin-bottom: margin.$label-input-margin;
                    }
                }

                &__email {
                    display: flex;
                    margin-bottom: margin.$label-input-margin;
                }

                &__phone {
                    display: flex;
                    margin-bottom: margin.$label-input-margin;
                }
            }

            &__footer {
                padding: padding.$small-padding;
                display: flex;
                justify-content: end;

                &__save-button {
                    background: button.$primary-background-color;
                    border-radius: button.$border-radius;
                    padding: padding.$small-padding;

                    &:hover {
                        cursor: pointer;
                        background: button.$primary-background-hover-color;
                    }
                }
            }
        }
    }

    &__change-password-modal {
        position: fixed;
        z-index: z-index.$modal-index;
        left: 0;
        top: 0;
        width: 100%;
        height: 100vh;
        overflow: auto;
        background: modal.$background-color;

        &__form {
            top: 50%;
            left: 50%;
            position: fixed;
            transform: translate(-50%, -50%);
            width: 70%;
            height: 80%;
            background: color-theme.$light-theme-background-color;
            border-radius: border.$container-border-radius;

            &__header {
                display: flex;
                justify-content: space-between;
                padding: padding.$small-padding;
                border-top-left-radius: border.$container-border-radius;
                border-top-right-radius: border.$container-border-radius;

                &__close-button {
                    background: button.$light-background-color;
                    border-radius: button.$border-radius;
                    height: fit-content;
                    padding: padding.$small-padding;

                    &:hover {
                        cursor: pointer;
                        background: button.$light-background-hover-color;
                    }
                }
            }

            &__content {
                padding: padding.$small-padding;

                input {
                    @include input.input-style;
                }

                &__current-password {
                    &__label {
                        margin-bottom: margin.$label-input-margin;
                    }

                    &__value {
                        margin-bottom: margin.$input-item-margin;
                    }
                }

                &__new-password {
                    &__label {
                        margin-bottom: margin.$label-input-margin;
                    }

                    &__value {
                        margin-bottom: margin.$input-item-margin;
                    }
                }

                &__confirm-new-password {
                    &__label {
                        margin-bottom: margin.$label-input-margin;
                    }

                    &__value {
                        margin-bottom: margin.$input-item-margin;
                    }
                }
            }

            &__footer {
                padding: padding.$small-padding;
                display: flex;
                justify-content: end;

                &__save-button {
                    background: button.$primary-background-color;
                    border-radius: button.$border-radius;
                    padding: padding.$small-padding;

                    &:hover {
                        cursor: pointer;
                        background: button.$primary-background-hover-color;
                    }
                }
            }
        }
    }
}