@use '../../components/header';
@use '../../components/margin';
@use '../../components/border';
@use '../../components/color-theme';
@use '../../components/button';
@use '../../components/padding';
@use '../../components/input';

.user-booking-order-list {
    padding-top: header.$header-height;
    min-height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;

    &__container {
        width: 80%;
        display: flex;
        flex-direction: column;

        &__header {
            display: flex;
            justify-content: space-between;
            margin-top: margin.$title-margin;
            margin-bottom: margin.$title-margin;
        }

        &__booking-order-list {

            &__list {
                margin-top: margin.$input-item-margin;
                overflow-x: auto;

                &__header {
                    display: flex;
                    vertical-align: middle;
                    border-bottom: border.$small-border-line;
                    border-top: border.$small-border-line;
                    font-weight: 700;
                    min-width: fit-content;

                    &__id {
                        width: 200px;
                        margin-top: margin.$input-item-margin;
                        margin-bottom: margin.$input-item-margin;
                    }

                    &__center {
                        width: 200px;
                        margin-top: margin.$input-item-margin;
                        margin-bottom: margin.$input-item-margin;
                    }

                    &__court {
                        width: 200px;
                        margin-top: margin.$input-item-margin;
                        margin-bottom: margin.$input-item-margin;
                    }

                    &__create-timestamp {
                        width: 200px;
                        margin-top: margin.$input-item-margin;
                        margin-bottom: margin.$input-item-margin;
                    }

                    &__usage-date {
                        width: 200px;
                        margin-top: margin.$input-item-margin;
                        margin-bottom: margin.$input-item-margin;
                    }

                    &__usage-time-start {
                        width: 200px;
                        margin-top: margin.$input-item-margin;
                        margin-bottom: margin.$input-item-margin;
                    }

                    &__usage-time-end {
                        width: 200px;
                        margin-top: margin.$input-item-margin;
                        margin-bottom: margin.$input-item-margin;
                    }

                    &__status {
                        width: 200px;
                        margin-top: margin.$input-item-margin;
                        margin-bottom: margin.$input-item-margin;
                    }
                }

                &__content {
                    &__item {
                        display: flex;
                        vertical-align: middle;
                        border-bottom: border.$small-border-line;
                        min-width: fit-content;

                        &__id {
                            width: 200px;
                            margin-top: margin.$input-item-margin;
                            margin-bottom: margin.$input-item-margin;
                        }
    
                        &__center {
                            width: 200px;
                            margin-top: margin.$input-item-margin;
                            margin-bottom: margin.$input-item-margin;
                        }
    
                        &__court {
                            width: 200px;
                            margin-top: margin.$input-item-margin;
                            margin-bottom: margin.$input-item-margin;
                        }
    
                        &__create-timestamp {
                            width: 200px;
                            margin-top: margin.$input-item-margin;
                            margin-bottom: margin.$input-item-margin;
                        }
    
                        &__usage-date {
                            width: 200px;
                            margin-top: margin.$input-item-margin;
                            margin-bottom: margin.$input-item-margin;
                        }
    
                        &__usage-time-start {
                            width: 200px;
                            margin-top: margin.$input-item-margin;
                            margin-bottom: margin.$input-item-margin;
                        }
    
                        &__usage-time-end {
                            width: 200px;
                            margin-top: margin.$input-item-margin;
                            margin-bottom: margin.$input-item-margin;
                        }
    
                        &__status {
                            width: 200px;
                            margin-top: margin.$input-item-margin;
                            margin-bottom: margin.$input-item-margin;
                        }
                    }
                }
            }
        }
    }
}