@use '../../components/header';
@use '../../components/margin';
@use '../../components/border';
@use '../../components/color-theme';
@use '../../components/button';
@use '../../components/padding';
@use '../../components/input';
@use '../../components/modal';
@use '../../components/z-index';
@use '../../components/shadow';

.user-center-page {
    padding-top: header.$header-height;
    min-height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;

    &__container {
        width: 80%;
        display: flex;
        flex-direction: column;

        &__header {
            margin-top: margin.$title-margin;
            margin-bottom: margin.$title-margin;
            z-index: 3;

            &__title {
                display: flex;

                &__label {
                    margin-right: margin.$input-item-margin;
                }

                input {
                    @include input.input-style;
                }

                &__search {
                    width: 400px;
                }
            }

            &__button-group {
                display: flex;
                justify-content: space-between;
                margin-top: margin.$title-margin;

                &__left {
                    display: flex;
                    flex-wrap: wrap;
    
                    > * {
                        padding-bottom: padding.$small-padding;
                    }
    
                    &__filter-button {
                        &__label {
                            background: button.$primary-background-color;
                            border-radius: button.$border-radius;
                            height: fit-content;
                            padding: padding.$small-padding;
                            margin-right: margin.$input-item-margin;
        
                            &:hover {
                                cursor: pointer;
                                background: button.$primary-background-hover-color;
                            }
                        }
    
                        &__menu {
                            position: fixed;
                            padding: padding.$small-padding;
                            background: color-theme.$light-theme-background-color;
                            box-shadow: shadow.$small-shadow;
                            overflow-y: auto;
                            max-height: 300px;
                            display: flex;
                            flex-direction: column;
    
                            &__item {
                                &:not(:first-child) {
                                    margin-top: margin.$input-item-margin;
                                }
                            }
                        }
                    }

                    &__name-filter {
                        &__button {
                            background: button.$primary-background-color;
                            border-radius: button.$border-radius;
                            height: fit-content;
                            padding: padding.$small-padding;
                            margin-right: margin.$input-item-margin;
                            width: fit-content;
        
                            &:hover {
                                cursor: pointer;
                                background: button.$primary-background-hover-color;
                            }
                        }
    
                        &__filter-option {
                            position: fixed;
                            padding: padding.$small-padding;
                            background: color-theme.$light-theme-background-color;
                            box-shadow: shadow.$small-shadow;
                            overflow-y: auto;
                            max-height: 300px;
    
                            input {
                                @include input.input-style;
                            }
    
                            &__item {
                                padding: padding.$small-padding;
    
                                &:hover {
                                    cursor: pointer;
                                    background: button.$primary-background-hover-color;
                                }
                            }
                        }
                    }

                    &__address-filter {
                        &__button {
                            background: button.$primary-background-color;
                            border-radius: button.$border-radius;
                            height: fit-content;
                            padding: padding.$small-padding;
                            margin-right: margin.$input-item-margin;
                            width: fit-content;
        
                            &:hover {
                                cursor: pointer;
                                background: button.$primary-background-hover-color;
                            }
                        }
    
                        &__filter-option {
                            position: fixed;
                            padding: padding.$small-padding;
                            background: color-theme.$light-theme-background-color;
                            box-shadow: shadow.$small-shadow;
                            overflow-y: auto;
                            max-height: 300px;
    
                            input {
                                @include input.input-style;
                            }
    
                            &__item {
                                padding: padding.$small-padding;
    
                                &:hover {
                                    cursor: pointer;
                                    background: button.$primary-background-hover-color;
                                }
                            }
                        }
                    }

                    &__price-filter {
                        &__button {
                            background: button.$primary-background-color;
                            border-radius: button.$border-radius;
                            height: fit-content;
                            padding: padding.$small-padding;
                            margin-right: margin.$input-item-margin;
                            width: fit-content;
        
                            &:hover {
                                cursor: pointer;
                                background: button.$primary-background-hover-color;
                            }
                        }
    
                        &__filter-option {
                            position: fixed;
                            padding: padding.$small-padding;
                            background: color-theme.$light-theme-background-color;
                            box-shadow: shadow.$small-shadow;
                            overflow-y: auto;
                            max-height: 300px;
    
                            input {
                                @include input.input-style;
                            }
    
                            &__item {
                                padding: padding.$small-padding;
    
                                &:hover {
                                    cursor: pointer;
                                    background: button.$primary-background-hover-color;
                                }
                            }
                        }
                    }
                }

                &__right {
                    &__refresh-button {
                        background: button.$primary-background-color;
                        border-radius: button.$border-radius;
                        height: fit-content;
                        padding: padding.$small-padding;
                        margin-right: margin.$input-item-margin;
    
                        &:hover {
                            cursor: pointer;
                            background: button.$primary-background-hover-color;
                        }
                    }
                }
            }
        }

        &__center-list {
            &__title {
                margin-bottom: margin.$label-input-margin;
            }

            &__list {
                display: flex;
                flex-wrap: wrap;
                justify-content: center;

                &__item {
                    border: border.$small-border-line;
                    border-radius: border.$container-border-radius;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    margin-right: margin.$input-item-margin;
                    margin-top: margin.$input-item-margin;
                    width: 260px;

                    &__info {
                        display: flex;
                        flex-direction: column;
                        position: relative;

                        &__img {
                            border-top-left-radius: border.$container-border-radius;
                            border-top-right-radius: border.$container-border-radius;
                            height: 200px;
                            width: 250px;
    
                            img {
                                border-top-left-radius: border.$container-border-radius;
                                border-top-right-radius: border.$container-border-radius;
                                height: 200px;
                                width: 250px;
                                object-fit: cover;
                            }
                        }
    
                        &__detail {
                            margin-left: margin.$input-item-margin;
    
                            &__name {
                                margin-top: margin.$label-input-margin;
                                margin-bottom: margin.$label-input-margin;
                            }
    
                            &__address {
                                margin-bottom: margin.$label-input-margin;
                            }

                            &__reviews {
                                position: absolute;
                                top: 10px;
                                right: 10px;
                                background: white;
                                padding: 0.25rem;
                                border-radius: border.$container-border-radius;
                                box-shadow: shadow.$small-shadow;
                            }

                            &__price {
                                font-size: 2rem;
                            }
                        }
                    }

                    &__button-group {
                        padding: padding.$small-padding;
                        display: flex;

                        &__info-button {
                            height: fit-content;
                            background: button.$light-background-color;
                            padding: padding.$small-padding;
                            border-radius: button.$border-radius;
                            margin-right: margin.$input-item-margin;

                            &:hover {
                                cursor: pointer;
                                background: button.$light-background-hover-color;
                            }
                        }

                        &__detail-button {
                            height: fit-content;
                            background: button.$light-background-color;
                            padding: padding.$small-padding;
                            border-radius: button.$border-radius;

                            &:hover {
                                cursor: pointer;
                                background: button.$light-background-hover-color;
                            }
                        }
                    }
                }
            }

            &__pagination {
                display: flex;
                margin-top: margin.$input-item-margin;

                &__previous {
                    background: button.$light-background-color;
                    padding: padding.$small-padding;
                    border-top-left-radius: button.$border-radius;
                    border-bottom-left-radius: button.$border-radius;

                    &:hover {
                        cursor: pointer;
                        background: button.$light-background-hover-color;
                    }
                }

                &__numeric-indicator {
                    display: flex;

                    &__item {
                        background: button.$light-background-color;
                        padding: padding.$small-padding;

                        &:hover {
                            cursor: pointer;
                            background: button.$light-background-hover-color;
                        }

                        &--active {
                            background: button.$primary-background-color;
                            padding: padding.$small-padding;

                            &:hover {
                                cursor: pointer;
                                background: button.$primary-background-hover-color;
                            }
                        }
                    }
                }

                &__next {
                    background: button.$light-background-color;
                    padding: padding.$small-padding;
                    border-top-right-radius: button.$border-radius;
                    border-bottom-right-radius: button.$border-radius;

                    &:hover {
                        cursor: pointer;
                        background: button.$light-background-hover-color;
                    }
                }
            }
        }
    }

    &__info-modal {
        position: fixed;
        z-index: z-index.$modal-index;
        left: 0;
        top: 0;
        width: 100%;
        height: 100vh;
        overflow: auto;
        background: modal.$background-color;

        &__form {
            top: 50%;
            left: 50%;
            position: fixed;
            transform: translate(-50%, -50%);
            width: 70%;
            height: 80%;
            background: color-theme.$light-theme-background-color;
            border-radius: border.$container-border-radius;

            &__header {
                display: flex;
                justify-content: space-between;
                padding: padding.$small-padding;
                border-top-left-radius: border.$container-border-radius;
                border-top-right-radius: border.$container-border-radius;

                &__close-button {
                    background: button.$light-background-color;
                    border-radius: button.$border-radius;
                    height: fit-content;
                    padding: padding.$small-padding;

                    &:hover {
                        cursor: pointer;
                        background: button.$light-background-hover-color;
                    }
                }
            }

            &__content {
                padding: padding.$small-padding;

                &__image-carousel {
                    position: relative;
                    overflow: hidden;

                    &__image-list {
                        display: flex;
                        height: 200px;

                        &__item {
                            width: 100%;
                            display: flex;
                            justify-content: center;

                            img {
                                height: 200px;
                                object-fit: cover;
                            }
                        }

                        &__item.hidden {
                            display: none;
                        }
                    }

                    &__navigation {
                        position: absolute;
                        width: 100%;
                        top: 50%;
                        transform: translateY(-50%);

                        &__previous {
                            left: 0;
                            position: absolute;

                            &:hover {
                                cursor: pointer;
                            }
                        }

                        &__next {
                            right: 0;
                            position: absolute;

                            &:hover {
                                cursor: pointer;
                            }
                        }
                    }

                    &__indicators {
                        position: relative;
                        right: 0;
                        left: 0;
                        top: 0;

                        &__container {
                            display: flex;
                            justify-content: center;
                            align-items: center;

                            &__item {
                                width: 15px;
                                height: 15px;
                                border-radius: 50%;
                                background-color: color-theme.$secondary;
                                margin-right: margin.$input-item-margin;
                                margin-top: margin.$input-item-margin;

                                &:hover {
                                    cursor: pointer;
                                }
                            }

                            &__item.active {
                                width: 20px;
                                height: 20px;
                                border-radius: 50%;
                                background-color: color-theme.$black;
                                margin-right: margin.$input-item-margin;
                                margin-top: margin.$input-item-margin;
                            }
                        }
                    }
                }

                &__reviews {
                    &__list {
                        &__item {
                            border: border.$small-border-line;
                            border-radius: border.$container-border-radius;
                            padding: padding.$small-padding;
                            margin-top: margin.$input-item-margin;

                            &__status {
                                display: flex;

                                &__icon {
                                    margin-right: margin.$input-item-margin;
                                }
                            }

                            &__username {
                                margin-top: margin.$input-item-margin;
                                font-weight: 700;
                            }

                            &__content {
                                margin-top: margin.$input-item-margin;
                            }
                        }
                    }
                }
            }
        }
    }
}