@use '../../components/header';
@use '../../components/margin';
@use '../../components/border';
@use '../../components/padding';
@use '../../components/button';
@use '../../components/color-theme';
@use '../../components/modal';
@use '../../components/input';
@use '../../components/z-index';

.user-product-order {
    padding-top: header.$header-height;
    min-height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;

    &__container {
        width: 80%;
        display: flex;
        flex-direction: column;

        &__header {
            display: flex;
            justify-content: space-between;
            margin-top: margin.$title-margin;
            margin-bottom: margin.$title-margin;

            &__button-group {
                display: flex;

                &__view-cart-button {
                    height: fit-content;
                    margin-right: margin.$button-margin;
                    background: button.$light-background-color;
                    padding: padding.$small-padding;
                    border-radius: button.$border-radius;

                    &:hover {
                        cursor: pointer;
                        background: button.$light-background-hover-color;
                    }
                }
            }
        }

        &__product-list {
            &__title {
                margin-bottom: margin.$label-input-margin;
            }

            &__list {
                display: flex;
                flex-flow: wrap;

                &__item {
                    width: 250px;
                    border: border.$small-border-line;
                    border-radius: border.$container-border-radius;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    margin-right: margin.$input-item-margin;
                    margin-bottom: margin.$input-item-margin;

                    &__info {
                        &__img {
                            img {
                                border-top-left-radius: border.$container-border-radius;
                                border-top-right-radius: border.$container-border-radius;
                                height: 200px;
                                width: 200px;
                                object-fit: cover;
                            }
                        }
                    }

                    &__detail {
                        text-align: center;

                        padding: padding.$small-padding;

                        &__name {
                            text-align: center;
                        }

                        &__price {

                        }
                    }

                    &__button-group {
                        width: 100%;
                        display: flex;
                        justify-content: end;
                        padding: padding.$small-padding;

                        &__add-to-cart-button {
                            background: button.$light-background-color;
                            border-radius: button.$border-radius;
                            height: fit-content;
                            padding: padding.$small-padding;
    
                            &:hover {
                                cursor: pointer;
                                background: button.$light-background-hover-color;
                            }
                        }
                    }
                }
            }
        }
    }

    &__cart-modal {
        position: fixed;
        z-index: z-index.$modal-index;
        left: 0;
        top: 0;
        width: 100%;
        height: 100vh;
        overflow: auto;
        background: modal.$background-color;

        &__form {
            top: 50%;
            left: 50%;
            position: fixed;
            transform: translate(-50%, -50%);
            width: 70%;
            height: 80%;
            background: color-theme.$light-theme-background-color;
            border-radius: border.$container-border-radius;

            &__header {
                height: 10%;
                display: flex;
                justify-content: space-between;
                padding: padding.$small-padding;
                border-top-left-radius: border.$container-border-radius;
                border-top-right-radius: border.$container-border-radius;

                &__close-button {
                    background: button.$light-background-color;
                    border-radius: button.$border-radius;
                    height: fit-content;
                    padding: padding.$small-padding;

                    &:hover {
                        cursor: pointer;
                        background: button.$light-background-hover-color;
                    }
                }
            }

            &__cart-detail {
                padding: padding.$small-padding;
                height: 80%;
                overflow-y: auto;

                &__item {
                    display: flex;
                    justify-content: space-between;
                    margin-bottom: margin.$input-item-margin;

                    &__detail {
                        display: flex;

                        &__img {
                            margin-right: margin.$input-item-margin;

                            img {
                                height: 50px;
                                width: 50px;
                                object-fit: cover;
                            }
                        }
                    }

                    &__button-group {
                        display: flex;
                        flex-direction: column;

                        &__first {
                            display: flex;
                            justify-content: end;

                            &__remove-button {
                                background: button.$light-background-color;
                                border-radius: button.$border-radius;
                                padding: padding.$small-padding;
                                margin-bottom: margin.$input-item-margin;
    
                                &:hover {
                                    cursor: pointer;
                                    background: button.$light-background-hover-color;
                                }
                            }
                        }

                        &__quantity {
                            display: flex;
    
                            &__add-button {
                                background: button.$light-background-color;
                                border-top-right-radius: button.$border-radius;
                                border-bottom-right-radius: button.$border-radius;
                                padding: padding.$small-padding;
    
                                &:hover {
                                    cursor: pointer;
                                    background: button.$light-background-hover-color;
                                }
                            }
    
                            &__label {
                                background: button.$light-background-color;
                                height: fit-content;
                                padding: padding.$small-padding;
                            }
    
                            &__subtract-button {
                                background: button.$light-background-color;
                                border-top-left-radius: button.$border-radius;
                                border-bottom-left-radius: button.$border-radius;
                                height: fit-content;
                                padding: padding.$small-padding;
    
                                &:hover {
                                    cursor: pointer;
                                    background: button.$light-background-hover-color;
                                }
                            }
                        }
                    }
                }
            }

            &__footer {
                display: flex;
                justify-content: space-between;
                padding: padding.$small-padding;
                position: fixed;
                align-items: center;
                bottom: 0;
                left: 0;
                right: 0;
                height: 10%;

                &__checkout {
                    &__checkout-button {
                        background: button.$light-background-color;
                        border-radius: button.$border-radius;
                        padding: padding.$small-padding;
                        margin-bottom: margin.$input-item-margin;

                        &:hover {
                            cursor: pointer;
                            background: button.$light-background-hover-color;
                        }
                    }
                }
            }
        }
    }
}