@use '../../components/header';
@use '../../components/margin';
@use '../../components/border';
@use '../../components/padding';
@use '../../components/button';
@use '../../components/color-theme';
@use '../../components/modal';
@use '../../components/input';
@use '../../components/shadow';
@use '../../components/z-index';

.user-center-review {
    padding-top: header.$header-height;
    min-height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;

    &__container {
        width: 80%;
        display: flex;
        flex-direction: column;

        &__header {
            display: flex;
            flex-direction: column;
            margin-top: margin.$title-margin;

            &__button-group {
                display: flex;
                justify-content: space-between;
                margin-top: margin.$title-margin;

                &__left {
                    display: flex;
                    flex-wrap: wrap;
                    > * {
                        padding-bottom: padding.$small-padding;
                    }

                    &__filter-button {
                        &__label {
                            background: button.$primary-background-color;
                            border-radius: button.$border-radius;
                            height: fit-content;
                            padding: padding.$small-padding;
                            margin-right: margin.$input-item-margin;
        
                            &:hover {
                                cursor: pointer;
                                background: button.$primary-background-hover-color;
                            }
                        }

                        &__menu {
                            position: fixed;
                            padding: padding.$small-padding;
                            background: color-theme.$light-theme-background-color;
                            box-shadow: shadow.$small-shadow;
                            overflow-y: auto;
                            max-height: 300px;
                            display: flex;
                            flex-direction: column;

                            &__item {
                                &:not(:first-child) {
                                    margin-top: margin.$input-item-margin;
                                }
                            }
                        }
                    }

                    &__id-filter {
                        &__button {
                            background: button.$primary-background-color;
                            border-radius: button.$border-radius;
                            height: fit-content;
                            padding: padding.$small-padding;
                            margin-right: margin.$input-item-margin;
                            width: fit-content;
        
                            &:hover {
                                cursor: pointer;
                                background: button.$primary-background-hover-color;
                            }
                        }

                        &__filter-option {
                            position: fixed;
                            padding: padding.$small-padding;
                            background: color-theme.$light-theme-background-color;
                            box-shadow: shadow.$small-shadow;
                            overflow-y: auto;
                            max-height: 300px;

                            input {
                                @include input.input-style;
                            }

                            &__item {
                                padding: padding.$small-padding;

                                &:hover {
                                    cursor: pointer;
                                    background: button.$primary-background-hover-color;
                                }
                            }
                        }
                    }

                    &__center-filter {
                        &__button {
                            background: button.$primary-background-color;
                            border-radius: button.$border-radius;
                            height: fit-content;
                            padding: padding.$small-padding;
                            margin-right: margin.$input-item-margin;
                            width: fit-content;
        
                            &:hover {
                                cursor: pointer;
                                background: button.$primary-background-hover-color;
                            }
                        }

                        &__filter-option {
                            position: fixed;
                            padding: padding.$small-padding;
                            background: color-theme.$light-theme-background-color;
                            box-shadow: shadow.$small-shadow;
                            overflow-y: auto;
                            max-height: 300px;

                            input {
                                @include input.input-style;
                            }

                            &__item {
                                padding: padding.$small-padding;

                                &:hover {
                                    cursor: pointer;
                                    background: button.$primary-background-hover-color;
                                }
                            }
                        }
                    }
                }

                &__right {
                    display: flex;

                    &__refresh-button {
                        background: button.$primary-background-color;
                        border-radius: button.$border-radius;
                        height: fit-content;
                        padding: padding.$small-padding;
                        margin-right: margin.$input-item-margin;
    
                        &:hover {
                            cursor: pointer;
                            background: button.$primary-background-hover-color;
                        }
                    }
    
                    &__add-new-button {
                        background: button.$primary-background-color;
                        border-radius: button.$border-radius;
                        height: fit-content;
                        padding: padding.$small-padding;
    
                        &:hover {
                            cursor: pointer;
                            background: button.$primary-background-hover-color;
                        }
                    }
                }
            }
        }

        &__review-list {
            margin-top: margin.$title-margin;

            &__list {
                overflow-x: auto;

                &__header {
                    display: flex;
                    vertical-align: middle;
                    border-bottom: border.$small-border-line;
                    border-top: border.$small-border-line;
                    font-weight: 700;
                    min-width: fit-content;

                    &__id {
                        width: 200px;
                        margin-top: margin.$input-item-margin;
                        margin-bottom: margin.$input-item-margin;

                        &:hover {
                            cursor: pointer;
                            text-decoration: underline;
                        }
                    }

                    &__center {
                        width: 200px;
                        margin-top: margin.$input-item-margin;
                        margin-bottom: margin.$input-item-margin;

                        &:hover {
                            cursor: pointer;
                            text-decoration: underline;
                        }
                    }

                    &__content {
                        width: 200px;
                        margin-top: margin.$input-item-margin;
                        margin-bottom: margin.$input-item-margin;
                    }

                    &__rating {
                        width: 200px;
                        margin-top: margin.$input-item-margin;
                        margin-bottom: margin.$input-item-margin;
                    }

                    &__create-timestamp {
                        width: 200px;
                        margin-top: margin.$input-item-margin;
                        margin-bottom: margin.$input-item-margin;

                        &:hover {
                            cursor: pointer;
                            text-decoration: underline;
                        }
                    }

                    &__update-timestamp {
                        width: 200px;
                        margin-top: margin.$input-item-margin;
                        margin-bottom: margin.$input-item-margin;

                        &:hover {
                            cursor: pointer;
                            text-decoration: underline;
                        }
                    }

                    &__status {
                        width: 200px;
                        margin-top: margin.$input-item-margin;
                        margin-bottom: margin.$input-item-margin;
                    }

                    &__action {
                        width: 200px;
                        margin-top: margin.$input-item-margin;
                        margin-bottom: margin.$input-item-margin;
                    }
                }

                &__content {

                    &__item {
                        display: flex;
                        vertical-align: middle;
                        border-bottom: border.$small-border-line;
                        min-width: fit-content;

                        &__id {
                            width: 200px;
                            margin-top: margin.$input-item-margin;
                            margin-bottom: margin.$input-item-margin;
                        }
    
                        &__center {
                            width: 200px;
                            margin-top: margin.$input-item-margin;
                            margin-bottom: margin.$input-item-margin;
                        }
    
                        &__content {
                            width: 200px;
                            margin-top: margin.$input-item-margin;
                            margin-bottom: margin.$input-item-margin;
                        }

                        &__rating {
                            width: 200px;
                            margin-top: margin.$input-item-margin;
                            margin-bottom: margin.$input-item-margin;
                        }
    
                        &__create-timestamp {
                            width: 200px;
                            margin-top: margin.$input-item-margin;
                            margin-bottom: margin.$input-item-margin;
                        }
    
                        &__update-timestamp {
                            width: 200px;
                            margin-top: margin.$input-item-margin;
                            margin-bottom: margin.$input-item-margin;
                        }
    
                        &__status {
                            width: 200px;
                            margin-top: margin.$input-item-margin;
                            margin-bottom: margin.$input-item-margin;
                        }

                        &__action {
                            width: 200px;
                            margin-top: margin.$input-item-margin;
                            margin-bottom: margin.$input-item-margin;

                            &__edit {
                                background: button.$light-background-color;
                                border-radius: button.$border-radius;
                                height: fit-content;
                                padding: padding.$small-padding;
                                width: fit-content;

                                &:hover {
                                    cursor: pointer;
                                    background: button.$light-background-hover-color;
                                }
                            }
                        }
                    }
                }
            }
        }

        &__pagination {
            display: flex;
            margin-top: margin.$input-item-margin;

            &__previous {
                background: button.$light-background-color;
                padding: padding.$small-padding;
                border-top-left-radius: button.$border-radius;
                border-bottom-left-radius: button.$border-radius;

                &:hover {
                    cursor: pointer;
                    background: button.$light-background-hover-color;
                }
            }

            &__page-number-button-list {
                display: flex;

                &__item {
                    background: button.$light-background-color;
                    padding: padding.$small-padding;

                    &:hover {
                        cursor: pointer;
                        background: button.$light-background-hover-color;
                    }

                    &--active {
                        background: button.$primary-background-color;
                        padding: padding.$small-padding;

                        &:hover {
                            cursor: pointer;
                            background: button.$primary-background-hover-color;
                        }
                    }
                }
            }

            &__next {
                background: button.$light-background-color;
                padding: padding.$small-padding;
                border-top-right-radius: button.$border-radius;
                border-bottom-right-radius: button.$border-radius;

                &:hover {
                    cursor: pointer;
                    background: button.$light-background-hover-color;
                }
            }
        }
    }

    &__add-new-modal {
        position: fixed;
        z-index: z-index.$modal-index;
        left: 0;
        top: 0;
        width: 100%;
        height: 100vh;
        overflow: auto;
        background: modal.$background-color;

        &__form {
            top: 50%;
            left: 50%;
            position: fixed;
            transform: translate(-50%, -50%);
            width: 70%;
            height: 80%;
            background: color-theme.$light-theme-background-color;
            border-radius: border.$container-border-radius;
            overflow-y: auto;

            &__header {
                display: flex;
                justify-content: space-between;
                padding: padding.$small-padding;
                border-top-left-radius: border.$container-border-radius;
                border-top-right-radius: border.$container-border-radius;

                &__close-button {
                    background: button.$light-background-color;
                    border-radius: button.$border-radius;
                    height: fit-content;
                    padding: padding.$small-padding;

                    &:hover {
                        cursor: pointer;
                        background: button.$light-background-hover-color;
                    }
                }
            }

            &__content {
                padding: padding.$small-padding;

                input {
                    @include input.input-style;
                }

                textarea {
                    @include input.textarea-style;
                }

                &__center {
                    &__label {
                        margin-bottom: margin.$label-input-margin;
                    }

                    &__select {
                        &__select-button {
                            padding: padding.$small-padding;
                            border: border.$small-border-line;
                            border-radius: input.$border-radius;

                            &:hover {
                                cursor: pointer;
                                background: button.$primary-background-hover-color;
                            }
                        }

                        &__select-option {
                            position: fixed;
                            padding: padding.$small-padding;
                            background: color-theme.$light-theme-background-color;
                            box-shadow: shadow.$small-shadow;
                            overflow-y: auto;
                            max-height: 300px;

                            &__item {
                                padding: padding.$small-padding;

                                &:hover {
                                    cursor: pointer;
                                    background: button.$primary-background-hover-color;
                                }
                            }
                        }
                    }
                }

                &__content {
                    &__label {
                        margin-bottom: margin.$label-input-margin;
                    }
                }
            }

            &__footer {
                padding: padding.$small-padding;
                display: flex;
                justify-content: end;

                &__add-button {
                    background: button.$primary-background-color;
                    border-radius: button.$border-radius;
                    padding: padding.$small-padding;

                    &:hover {
                        cursor: pointer;
                        background: button.$primary-background-hover-color;
                    }
                }
            }
        }
    }

    &__edit-modal {
        position: fixed;
        z-index: z-index.$modal-index;
        left: 0;
        top: 0;
        width: 100%;
        height: 100vh;
        overflow: auto;
        background: modal.$background-color;

        &__form {
            top: 50%;
            left: 50%;
            position: fixed;
            transform: translate(-50%, -50%);
            width: 70%;
            height: 80%;
            background: color-theme.$light-theme-background-color;
            border-radius: border.$container-border-radius;
            overflow-y: auto;

            &__header {
                display: flex;
                justify-content: space-between;
                padding: padding.$small-padding;
                border-top-left-radius: border.$container-border-radius;
                border-top-right-radius: border.$container-border-radius;

                &__close-button {
                    background: button.$light-background-color;
                    border-radius: button.$border-radius;
                    height: fit-content;
                    padding: padding.$small-padding;

                    &:hover {
                        cursor: pointer;
                        background: button.$light-background-hover-color;
                    }
                }
            }

            &__content {
                padding: padding.$small-padding;

                textarea {
                    @include input.textarea-style;
                }

                &__rating {
                    margin-bottom: margin.$input-item-margin;

                    &__label {
                        margin-bottom: margin.$label-input-margin;
                    }

                    &__button {
                        display: flex;
    
                        &__recommend {
                            background: button.$light-background-color;
                            border-radius: button.$border-radius;
                            padding: padding.$small-padding;
                            margin-right: margin.$label-input-margin;
    
                            &:hover {
                                cursor: pointer;
                                background: button.$primary-background-hover-color;
                            }
                        }

                        &__recommend.clicked {
                            background: button.$primary-background-color;
                        }
    
                        &__not-recommend {
                            background: button.$light-background-color;
                            border-radius: button.$border-radius;
                            padding: padding.$small-padding;
    
                            &:hover {
                                cursor: pointer;
                                background: button.$primary-background-hover-color;
                            }
                        }

                        &__not-recommend.clicked {
                            background: button.$primary-background-color;
                        }
                    }
                }

                &__content {
                    margin-bottom: margin.$input-item-margin;

                    &__label {
                        margin-bottom: margin.$label-input-margin;
                    }
                }
            }

            &__footer {
                padding: padding.$small-padding;
                display: flex;
                justify-content: end;

                &__delete-button {
                    background: button.$primary-background-color;
                    border-radius: button.$border-radius;
                    padding: padding.$small-padding;
                    margin-right: margin.$label-input-margin;

                    &:hover {
                        cursor: pointer;
                        background: button.$primary-background-hover-color;
                    }
                }

                &__save-button {
                    background: button.$primary-background-color;
                    border-radius: button.$border-radius;
                    padding: padding.$small-padding;

                    &:hover {
                        cursor: pointer;
                        background: button.$primary-background-hover-color;
                    }
                }
            }
        }
    }
}